# ignore these directories
/models/
/venv/
/utils/__pycache__/
/seq2seq/__pycache__/

# ignore all database files
*.db
*.csv
*.json
*.OB
*.pyc
*.log

# ignore these specific files
objectives.txt
a.txt
b.txt
c.txt
d.txt